<!DOCTYPE html>
<html lang="en">
<head>
    <title>Base Templates</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles/base.css" rel="stylesheet"/>
    <link href="./main.css" rel="stylesheet"/>
    <script type="text/javascript" src="/assets/scripts/brython.js"></script>
</head>
<body onload="brython()">
    <div id="root"></div>
    <script type="text/python" src="./main.py"></script>
</body>
</html>